@model Client
@{ 
        ViewData["Title"] = "Cadastro de Clientes";
}

<h1>Cadastro de Clientes</h1>
<p>Preencha o formulário para cadastrar um cliente</p>
<form class="row g-2" asp-controller="Client" asp-action="Create" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="col-md-12">
        <label for="nome" class="form-label">Nome</label>
        <input type="text" asp-for="Name" class="form-control" id="nome" aria-describedby="name" placeholder="Informe o nome completo do cliente" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <br />
    <div class="col-md-6">
        <label for="inputPassword4" class="form-label">Cpf</label>
        <input type="text" asp-for="Cpf" class="form-control" id="Cpf" placeholder="Informe o CPF do cliente ">
       <span asp-validation-for="Cpf" class="text-danger"></span>
    </div>
    <div class="col-md-6">
        <label class="form-label" for="telefone">Telefone</label>
        <input type="text" asp-for="Telephone" class="form-control" id="Telefone" placeholder="Informe o celular do cliente">
        <span asp-validation-for="Telephone" class="text-danger"></span>
    </div>
  
    <div class="col-md-2">
        <div class="mb-3">
            <label class="form-label" for="dataNasc">Data de nascimento</label>
            <input type="date" asp-for="Birthdate" class="form-control" id="dataNasc">
            <span asp-validation-for="Birthdate" class="text-danger"></span>
    </div>
        
    </div>
      <div class="col-md-12">
        <label for="cpf" class="form-label">Endereco</label>
        <input type="text" asp-for="Adress" class="form-control" id="Endereco" placeholder="Informe o endereço completo">
       <span asp-validation-for="Adress" class="text-danger"></span>
    </div>
     <div class="col-md-4">
        <label for="Cep" class="form-label">Cep</label>
        <input type="text" asp-for="Zipcode" class="form-control" id="Cep" placeholder="Informe o cep">
        <span asp-validation-for="Zipcode" class="text-danger"></span>
    </div>
    <div class="col-md-6">
        <label for="cpf" class="form-label">Complemento</label>
        <input type="text" asp-for="Complement" class="form-control" id="complemento" placeholder="Informe o complemento">
        <span asp-validation-for="Complement" class="text-danger"></span>
    </div>
  
    <div class="col-12">
        <button type="submit" class="btn btn-dark">Cadastrar Cliente</button>
        <a role="button" asp-action="index" asp-controller="Client" class="btn btn-dark">Voltar</a>
    </div>
    
</form>
@if (TempData["MessageSucess"] != null)
{
   <p class="sucess"><i class="fa-solid fa-check"></i> @TempData["MessageSucess"]</p>
}

@if (TempData["MessageCpfExists"] != null)
{
    <p class="error"><i class="fa-solid fa-xmark"></i> @TempData["MessageCpfExists"]</p>
}

@if (TempData["MessageError"] != null)
{
     <p class="error"> <i class="fa-solid fa-xmark"></i> @TempData["MessageError"]</p>
}

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }

<style>
    h1{
        margin-top:20px;
    }

    form{
        padding-top:10px;
    }

</style>
