@model Client
@{
    ViewData["Title"] = "Editar Cliente";
}

<h1 style="margin-top:50px">Editar Cliente</h1>

<p>Todos os campos são obrigatórios</p>

<form class="row g-3" asp-controller="Client" asp-action="UpdateClient" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="@Model.Id"/>
    <div class="col-md-6">
        <label for="inputEmail4" class="form-label">Nome</label>
        <input type="text" asp-for="Name" class="form-control" id="name" aria-describedby="name"/>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="col-md-6">
        <label for="inputPassword4" class="form-label">Cpf</label>
        <input type="text" asp-for="Cpf" class="form-control" id="cpf">
        <span asp-validation-for="Cpf" class="text-danger"></span>
    </div>
    <div class="col-12">
        <label class="form-label" for="telefone">Telefone</label>
        <input type="text" asp-for="Telephone" class="form-control" id="telefone" >
        <span asp-validation-for="Telephone" class="text-danger"></span>
    </div>
    <div class="col-md-6">
        <div class="mb-3">
            <label class="form-label" for="dataNasc">Data de nascimento</label>
            <input type="date" asp-for="Birthdate" class="form-control" id="dataNasc">
            <span asp-validation-for="Birthdate" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-4">
        <label for="cpf" class="form-label">Endereco</label>
        <input type="text" asp-for="Adress" class="form-control" id="Endereco">
       <span asp-validation-for="Adress" class="text-danger"></span>
    </div>
    <div class="col-md-2">
        <label for="cpf" class="form-label">Complemento</label>
        <input type="text" asp-for="Complement" class="form-control" id="complemento"/>
        <span asp-validation-for="Complement" class="text-danger"></span>
    </div>
    <div class="col-12">
        <label for="cpf" class="form-label">Cep</label>
        <input type="text" asp-for="Zipcode" class="form-control" id="Cep">
        <span asp-validation-for="Zipcode" class="text-danger"></span>
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-dark">Editar</button>
        <a role="button" asp-action="index" asp-controller="Client" class="btn btn-dark">Voltar</a>
    </div>
</form>

@if (TempData["MessageSucess"] != null)
{
   <p class="sucess"><i class="fa-solid fa-check"></i> @TempData["MessageSucess"]</p>
}

@if (TempData["MessageCpfExists"] != null)
{
    <p class="error"><i class="fa-solid fa-xmark"></i> @TempData["MessageCpfExists"]</p>
}
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }