@model Service

<form  asp-action="Remove" asp-controller="Service" method="post">
    <input type="hidden" asp-for="@Model.Id"/>
    <p>Deseja realmente deletar o serviço </p><strong> @Model.Description</strong></br>
    <a role="button" asp-action="index" asp-controller="Service" class="btn btn-dark">Cancelar</a>  
     <button type="submit" class="btn btn-danger">Deletar</button>
</form>
      