
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Agendamento</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Agendamento.styles.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.12.1/datatables.min.css"/>
    <link href="~/css/all.min.css" />
    <link href="~/css/fontawesome.min.css" />

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <div class="container-fluid">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index"><img style="width:80px" src="~/img/logo.png" id="icone_atencao_home"/> </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarNavDarkDropdown">
              <ul class="navbar-nav">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Cliente
                  </a>
                  <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                     <li><a class="dropdown-item" role="button" asp-controller="Client" asp-action="Index">Clientes Cadastrados</a></li>
                     <li><a class="dropdown-item" role="button" asp-controller="Client" asp-action="Create">Cadastrar Clientes</a></li>
                  </ul>
                </li>
              </ul>

              <ul class="navbar-nav">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Agendamento
                  </a>
                  <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                     <li><a class="dropdown-item" role="button" asp-controller="Scheduling" asp-action="Index">Listar Agendamentos</a></li>
                     <li><a class="dropdown-item" role="button" asp-controller="Scheduling" asp-action="Create">Agendar</a></li>
                  </ul>
                </li>
              </ul>

              <ul class="navbar-nav">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Serviço
                  </a>
                  <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                     <li><a class="dropdown-item" role="button" asp-controller="Service" asp-action="Index">Serviços Cadastrados</a></li>
                     <li><a class="dropdown-item" role="button" asp-controller="Service" asp-action="Create">Cadastrar Serviço</a></li>
                  </ul>
                </li>
              </ul>

                <ul class="navbar-nav">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Fornecedor
                  </a>
                  <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                     <li><a class="dropdown-item" role="button" asp-controller="Provider" asp-action="Index">Fornecedores Cadastrados</a></li>
                     <li><a class="dropdown-item" role="button" asp-controller="Provider" asp-action="Create">Cadastrar Fornecedor</a></li>
                  </ul>
                </li>
              </ul>

                <ul class="navbar-nav">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Produtos
                  </a>
                  <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                     <li><a class="dropdown-item" role="button" asp-controller="Product" asp-action="Index">Produtos Cadastrados</a></li>
                     <li><a class="dropdown-item" role="button" asp-controller="Product" asp-action="Create">Cadastrar Produtos</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </nav>
    </header>
   
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.12.1/datatables.min.js"></script>
    <script src="~/js/all.min.js"></script>
    <script src="~/js/fontawesome.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.mask.js"></script>
    
     <script>
        $(document).ready(function() {
            $('#Cep').mask('00000-000')
            $('#Cpf').mask('000.000.000-00')
            $('#Telefone').mask('(00) 0 0000-0000')
            $('#Valor').mask('000.000.000.000.000,00', {reverse: true});
      });
    </script>    
    @await RenderSectionAsync("Scripts", required: false)


</body>
</html>

