@model Provider

<fieldset disabled>
    <form>
      <div class="mb-3">
        <label for="Name" class="form-label">Nome</label>
        <input type="text" asp-for="Name" class="form-control" id="name">
      </div>
      <div class="mb-3">
        <label for="Cpf" class="form-label">CPF</label>
        <input type="text" asp-for="Cpf" class="form-control" id="Cpf">
      </div>
      <div class="mb-3">
        <label for="Contato" class="form-label">Contato</label>
        <input type="text" asp-for="Contact" class="form-control" id="Contato">
      </div>
      <div class="mb-3">
        <label for="Endereço" class="form-label">Endereço</label>
        <input type="text" asp-for="Adress" class="form-control" id="Endereço">
      </div>
      <div class="mb-3">
        <label for="complemento" class="form-label">Complemento</label>
        <input type="text" asp-for="Complement" class="form-control" id="complemento">
      </div>
      <div class="mb-3">
        <label for="cep" class="form-label">Cep</label>
        <input type="text" asp-for="ZipCode" class="form-control" id="cep">
      </div>
    </form>
</fieldset>
